<div id="map" data-destinations="<%= ToDoItem.all.to_json %>"></div>

<div id="destinations" class="overlay">
  <h3>Destinations</h3>

  <div id="destination-list">
    Loading...
  </div>

  <%= form_for @destination, :remote => true do |f| %>
    <fieldset>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </fieldset>

    <div id="to-do-items">
    </div>

    <%= f.submit "Save Destination" %>
  <% end %>

  <%= link_to 'Add To Do Item', fields_for_to_do_items_path, :remote => true %>

  

</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
</script>
